<%= render 'schooldetails' %>
<%= render :partial => 'feedbackquestion'%>

<h3>
	STATUS UPDATE
</h3>
<li>
          <label>Status <em>*</em></label>          
          <%= collection_select(:applicationstatus, :id, ApplicationStatus.all, :id, :status) %>
        </li>

<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.hidden_field :student_id, :value => params[:id] %>
  </div>
  <div class="field">
    <%= f.label :comment_text %><br />
    <%= f.text_area :comment_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%#= button_to "Save", comments_path, :method => "get" %>
    <%#= button_to "Forward To Principal", comments_path, :method => "get" %>
  </div>
  <%= link_to "back", root_path %>
<% end %>